@import 'tailwindcss';

:root {
  --background: #f3f3f2;
  --white: #ffffff;
  --black: #2a2a28;
  --dark-grey: #444444;
  --grey: #afafac;
  --light-grey: #ebebeb;
}

@theme inline {
  --color-background: var(--background);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-dark-grey: var(--dark-grey);
  --color-grey: var(--grey);
  --color-light-grey: var(--light-grey);
  --font-sans: var(--font-manrope-sans);
  --font-mono: var(--font-fragment-mono);

  --breakpoint-md: 800px;
  --breakpoint-lg: 1200px;
}

@layer base {
  html {
    min-width: 360px;
  }
  body {
    @apply bg-background font-sans antialiased;
  }
  a {
    @apply hover:text-grey text-[18px] leading-[1.6em] text-[#4A4A45] underline;
  }
  .nav-home {
    @apply text-[16px] leading-[120%] tracking-[-0.01em] text-black no-underline hover:text-[#000000];
  }
  .nav-footer-home {
    @apply hover:text-light-grey text-[16px] leading-[120%] font-bold text-white no-underline;
  }
  .nav-links {
    @apply text-[14px] leading-[2em] tracking-[-0.2px] text-[#4A4A45] no-underline hover:text-[#828282];
  }
  .nav-footer-links {
    @apply text-grey text-[14px] leading-[2em] tracking-[-0.2px] no-underline hover:text-white;
  }
}

@layer components {
  .wrapper {
    @apply w-full px-[20px] pt-[60px] pb-[100px] md:px-[40px] md:py-[80px] lg:px-[100px] lg:pt-[100px] lg:pb-[150px];
  }
  .wrapper-content {
    @apply mx-auto w-full max-w-[1200px];
  }

  .h1-l {
    @apply text-[55px] leading-[120%] font-normal tracking-[-0.5px] text-[#201d15];
  }
  .h1-m {
    @apply text-[45px] leading-[120%] font-normal tracking-[-0.5px] text-[#201d15];
  }
  .h1-s {
    @apply text-[40px] leading-[120%] font-normal tracking-[-0.5px] text-[#201d15];
  }
  .h2-l {
    @apply text-[50px] leading-[1.2em] font-medium tracking-[-0.02em] text-black;
  }
  .h2-m {
    @apply text-[45px] leading-[1.2em] font-medium tracking-[-0.02em] text-black;
  }
  .h2-s {
    @apply text-[32px] leading-[1.2em] font-medium tracking-[-0.02em] text-black;
  }
  .h3-l {
    @apply text-[30px] leading-[1.3em] font-medium text-black;
  }
  .h3-m {
    @apply text-[30px] leading-[1.3em] font-medium text-black;
  }
  .h3-s {
    @apply text-[25px] leading-[1.3em] font-medium text-black;
  }
  .h4-l {
    @apply text-[24px] leading-[1.4em] font-medium text-black;
  }
  .h4-m {
    @apply text-[24px] leading-[1.4em] font-medium text-black;
  }
  .h4-s {
    @apply text-[20px] leading-[1.4em] font-medium text-black;
  }
  .h5 {
    @apply text-[20px] leading-[1.4em] font-medium text-black;
  }
  .h6 {
    @apply text-[16px] leading-[1.4em] font-bold text-[#333333];
  }
}
