@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #52525b;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --text-primary: #a1a1aa;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  html {
    @apply min-w-[360px];
  }
  body {
    @apply text-text-primary antialiased;
  }
}
