@import 'tailwindcss';

:root {
  --background: #f3f3f2;
  --white: #ffffff;
  --black: #2a2a28;
  --dark-grey: #444444;
  --grey: #afafac;
  --light-grey: #ebebeb;
}

@theme inline {
  --color-background: var(--background);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-dark-grey: var(--dark-grey);
  --color-grey: var(--grey);
  --color-light-grey: var(--light-grey);
  --font-sans: var(--font-manrope-sans);
  --font-mono: var(--font-fragment-mono);

  --breakpoint-md: 800px;
  --breakpoint-lg: 1200px;

  /* H1 */
  --text-h1-l: 55px;
  --text-h1-m: 45px;
  --text-h1-s: 40px;

  /* H2 */
  --text-h2-l: 50px;
  --text-h2-m: 45px;
  --text-h2-s: 32px;

  /* H3 */
  --text-h3-l: 30px;
  --text-h3-m: 30px; /* sama dengan h3-l */
  --text-h3-s: 25px;

  /* H4 */
  --text-h4-l: 24px;
  --text-h4-m: 24px; /* sama dengan h4-l */
  --text-h4-s: 20px;

  /* H5 */
  --text-h5: 20px;

  /* H6 */
  --text-h6: 16px;
}

@layer base {
  html {
    min-width: 360px;
  }
  body {
    @apply bg-background font-sans antialiased;
  }
  a {
    @apply hover:text-grey text-[18px] leading-[1.6em] text-[#4A4A45] underline;
  }
  .nav-home {
    @apply text-[16px] leading-[120%] tracking-[-0.01em] text-black no-underline hover:text-[#000000];
  }
  .nav-footer-home {
    @apply hover:text-light-grey text-[16px] leading-[120%] font-bold text-white no-underline;
  }
  .nav-links {
    @apply text-[14px] leading-[2em] tracking-[-0.2px] text-[#4A4A45] no-underline hover:text-[#828282];
  }
  .nav-footer-links {
    @apply text-grey text-[14px] leading-[2em] tracking-[-0.2px] no-underline hover:text-white;
  }
}

@layer components {
  .wrapper {
    @apply w-full px-[20px] pt-[60px] pb-[100px] md:px-[40px] md:py-[80px] lg:px-[100px] lg:pt-[100px] lg:pb-[150px];
  }
  .wrapper-content {
    @apply mx-auto w-full max-w-[1200px];
  }

  /* ===================== Responsive text sizes ===================== */

  /* H1 */
  .h1-responsive {
    @apply text-[40px] md:text-[45px] lg:text-[55px];
  }

  /* H2 */
  .h2-responsive {
    @apply text-[32px] md:text-[45px] lg:text-[50px];
  }

  /* H3 */
  .h3-responsive {
    @apply text-[25px] md:text-[30px] lg:text-[30px];
  }

  /* H4 */
  .h4-responsive {
    @apply text-[20px] md:text-[24px] lg:text-[24px];
  }

  /* H5 */
  .h5-responsive {
    @apply text-[18px] md:text-[20px];
  }

  /* H6 */
  .h6-responsive {
    @apply text-[14px] md:text-[16px];
  }

  .p-small {
    @apply text-[16px] leading-[1.5em] text-[#4A4A45];
  }

  .p-reguler {
    @apply text-[18px] leading-[1.5em];
  }

  .p-medium {
    @apply text-[18px] leading-[1.5em] font-medium text-black;
  }

  .p-semibold {
    @apply text-[18px] leading-[1.7em] font-semibold text-black;
  }
}

li::marker {
  content: '•';
  color: black;
  font-size: 1.5em;
  margin-right: 0.5rem; /* jarak bullet ke teks */
}
